<ul class="nav navbar-nav navbar-right">
  {{#if currentUser}}
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a class="nav-item nav-link" href="/login">Login</a></li>
    <li><a class="nav-item nav-link" href="/sign-up">Sign Up</a></li>
  {{/if}}
</ul>