/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400..,700;1,400..700&family=Dancing+Script&family=Quicksand:wght@400..700&family=Raleway:wght@400..900&display=swap');


/* General Reset */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-green: #2ECC71;
    --color-litegreen: #5EFCA1;
    --color-gray: #354546;
    --color-litegray: #D5E5E6;
    --color-red: #D73C2C;
    --color-litered: #F75C4C;
    --color-purps: #8E44AD;
    --color-litepurps: #AB69C6;
    --color-blue: #1297E0;
    --color-liteblue: #29C5FF;
    --color-orange: #FB8C00;
    --color-liteorange: #FFA726;
    --color-yellow: #FFEB38;
    --color-liteyellow: #FFF176;
    --color-darkwhite: #EEEEEE;
    --color-white: #FFF;
    --color-dark: #212121;
    --base-font-size: 12px;
    --font-body: 'Cormorant Garamon', serif;
    --font-link: 'Dancing Script', cursive;
    --font-header: 'Quicksand', sans-serif;
    --font-nav: 'Raleway', sans-serif;
    --font-special: 'Consolas', 'courier-new';
    scroll-behavior: smooth;
}
body {
  background-color: #0D152B;
}
body::selection{
  color: white;
  background: #0089f2;
}

/* Side Scroll Bar */
body::-webkit-scrollbar{
  width: 16px;
}
body::-webkit-scrollbar-track{
  background: #e6e6e6;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: linear-gradient(#3498db,#9b59b6);
}
body::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(#2691d9,#954eb1);
}


/* Navigation Bar */
nav{
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: white;
  box-shadow: 1px 1px 15px silver;
  z-index: 1;
  transition: top 0.3s;
}
label{
  line-height: 65px;
  padding: 0 80px;
  font-size: 40px;
  color: #0089f2;
  letter-spacing: -1px;
  user-select: none;
}
nav label {
  margin-top: 10px;
}
nav ul{
  list-style: none;
  position: absolute;
  right: 0;
  top: -7px;
  display: flex;
  line-height: 80px;
  margin-right: 50px;
}
nav ul li{
  margin: 0 5px;
  align-items: center;
  
}
nav ul li.active a{
  color: #0089f2;
  box-shadow: inset 0 0 5px #0a87f5,
              inset 0 0 10px #85c3fa,
              inset 0 0 15px #b6dbfc;
}
nav ul li:hover a{
  color: #0089f2;
  box-shadow: inset 0 0 5px #0a87f5,
              inset 0 0 10px #85c3fa,
              inset 0 0 15px #b6dbfc;
}
nav ul li a{
  color: grey;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
}
nav ul li a.active2{
  color: #0089f2;
  box-shadow: inset 0 0 5px #0a87f5,
              inset 0 0 10px #85c3fa,
              inset 0 0 15px #b6dbfc;
}


.comment-indent {
  margin-left: 20px;
}

/* Forms */
form {
  max-width: 500px;
  margin: 2rem auto;
  border: 3px solid var(--color-dark);
  padding: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 15px;
}
form label {
  display: block;
  padding: 10px;
  font-size: 19px;
  color: whitesmoke;
}
form input, textarea {
  display: block;
  font-family: sans-serif;
  width: 100%;
  margin: 0 .25rem;
  padding: .5rem;
  min-width: 125px;
  border: 1px solid transparent;
  border-left: 5px solid var(--color-liteblue);
  border-radius: 5px;
  font-size: 18px;
  transition: .5s ease-in-out;
}
.text-muted {
  font-size: 10px;
  color: var(--color-litegray);
}
form > button[type=submit]{
  border-color: var(--color-blue);
  background-color: var(--color-darkwhite);
  margin: 2rem 0 2rem 4rem;
  width: 70%;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 20px;
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: bold;
  letter-spacing: 5px;
  transition: 500ms;
}
form > button[type=submit]:hover{
  background: var(--color-liteblue);
  color: white;
  box-shadow: 0 2px var(--color-dark);
  cursor: pointer;
}

/* New post button */
a > .btn-success {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--color-litegreen);
  color: var(--color-dark);
  box-shadow: var(--color-green);
  transition: none;
  font-family: var(--font-header);
  width: 100px;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
}
a > .btn-success:hover {
  box-shadow: 0 4px var(--color-green);
}
a > .btn-success:active {
  box-shadow: 0 0 var(--color-green);
}

/* New post submit button */
.text-right {
  display: flex;
  justify-content: flex-end;
}
.text-right > button[type=submit]{
  border-color: var(--color-green);
  background-color: var(--color-darkwhite);
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 20px;
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: bold;
  letter-spacing: 5px;
  transition: 500ms;
}
.text-right > button[type=submit]:hover{
  background: var(--color-green);
  color: white;
  box-shadow: 0 2px var(--color-dark);
  cursor: pointer;
}


